extends ../shared/template

block content
  .row#profileDiv
    .small-6.columns
      h3.retroFont= user.name
    .small-6.columns
      .row
        .small-12.columns
          h6.right= user.email
        .small-12.columns
          h6.right= user.phone

    .row
      .small-12.columns
        if user.role === 'Truck'
          h5.retroFont Upcoming Events
          #eventsDiv
            each site in sites
              .event
                h6 Event: #{site.eventName}
                p Date: #{site.date}
                p Time: #{site.startTime} - #{site.endTime}
                p Address: #{site.address}
                form(action='/sites/'+site._id, method='post')
                  input(type='hidden', name='_method', value='delete')
                  button.alert.tiny.radius Delete
        else
          #eventDiv
            h5.retroFont Favorite Trucks
            each truck in myTrucks
              h6= truck.name
            form(action='/users/addTruck', method='post')
              select#selectTruck(name='truckId')
                each truck in trucks
                  option(value=truck._id)= truck.name
              button.tiny.radius Add Truck

